.collapsibleDockContainer {
  display: flex;
  align-items: center;
  z-index: 1000;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.toggleButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-background-dark-100);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  user-select: none;
  transition: background-color 0.3s ease;
  z-index: 2;

  &:hover {
    background-color: var(--color-accent-300);
  }
}

/* Стили для разных направлений появления Dock меню */
.dockWrapperLeft {
  position: absolute;
  right: 60px;
}

.dockWrapperRight {
  position: absolute;
  left: 60px; /* Позиционирование справа от кнопки */
}

.dockWrapperTop {
  position: absolute;
  bottom: 60px; /* Позиционирование сверху от кнопки */
}

.dockWrapperBottom {
  position: absolute;
  top: 60px; /* Позиционирование снизу от кнопки */
}
