.headerContentWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  padding: 32px 0;
  min-height: 84vh;
  background-color: var(--color-background-dark-200);
}

.particlesContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;

}