.sceneContainer {
  overflow: visible;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.parallaxContainer {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.parallaxLayer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: cover;
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000px;
}

.layer0 {
  z-index: 5;
  background-size: cover;
}

.layer1 {
  z-index: 10;
  background-size: cover;
}

.layer2 {
  z-index: 15;
  background-size: cover;
}

.layer3 {
  z-index: 20;
  background-size: cover;
}

.layer4 {
  z-index: 20;
  background-size: cover;
}

.layer5 {
  z-index: 20;
  background-size: cover;
}

.layer6 {
  z-index: 25;
  background-size: cover;
}

.layer7 {
  z-index: 30;
  background-size: cover;
}

.layer8 {
  z-index: 35;
  background-size: cover;
}

.layer9 {
  z-index: 35;
  background-size: cover;
}

.layer10 {
  z-index: 35;
  background-size: cover;
}

.layertop {
  z-index: 30;
  background-size: cover;
}

.layerlogo {
  z-index: 15;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center top !important;
}

@media (max-width: 1024px) {
  .parallaxLayer {
    background-size: cover;
    background-position: center center;
  }
}

@media (max-width: 768px) {
  .sceneContainer {
    height: 70vh !important;
  }

  .parallaxLayer {
    background-attachment: scroll;
    position: absolute !important;

    // Отключаем параллакс на мобильных
    transform: none !important;
  }
}

@media (max-width: 480px) {
  .sceneContainer {
    height: 60vh !important;
  }

  .parallaxLayer {
    background-size: cover;
    background-position: center;
  }
}