.fadeIn {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

@keyframes revealCircle {
  0% {
    clip-path: circle(0% at center);
  }
  100% {
    clip-path: circle(150% at center);
  }
}

.transitionCircle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  clip-path: circle(0% at center);
  animation: revealCircle 1s forwards;
  z-index: 1000;
  pointer-events: none;
}

@keyframes circleTransition {
  0% {
    clip-path: circle(100%);
  }
  100% {
    clip-path: circle(0%);
  }
}

.transitionCircleIn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  clip-path: circle(100%);
  animation: circleTransition 1s forwards;
  z-index: 1000;
}

.screenOffAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  z-index: 1000;
  opacity: 1;
  animation: screenOff 0.3s ease forwards;

  @keyframes screenOff {
    0% {
      transform: scaleY(0.1);
      opacity: 0;
    }
    100% {
      transform: scaleY(1);
      opacity: 1;
    }
  }
}

