.headerContentWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  padding: 32px 0;
  min-height: 92vh;
  background-color: var(--color-background-dark-200);
}

.headerContentWrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: var(--color-background-dark-200); /* Цвет следующего раздела */
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
  z-index: 0;
}

.innerContentWrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgba(11, 17, 30, 0);
}

.titleText {
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--color-primary-text-100);
  margin-bottom: 16px;
}

.subDescription {
  font-size: 1.25rem;
  color: var(--color-secondary-text-100);
  max-width: 600px;
  line-height: 1.5;
}

.particlesContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.encrypted {
  font-family: --Aurebesh, sans-serif;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.textContainer :first-child {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .titleText {
    font-size: 2rem;
  }

  .subDescription {
    font-size: 1rem;
    max-width: 100%;
  }
}