.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  gap: 20px;
  padding: 32px 0;
  //background-color: #333333;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
}

.centered {
  align-items: center;
  justify-content: center;
}

.spaceBetween {
  justify-content: space-between;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  .container {
    gap: 16px;
    padding: 24px 0;
  }
}

