:root {
  --color-background-dark-100: #05080e;
  --color-background-dark-200: #04080a;
  --color-background-dark-300: rgb(9, 15, 19);
  --color-primary-text-100: #65f6af;
  --color-secondary-text-100: #e8e7e7;
  --color-accent-300: #32b964;
  --color-additional-err-100: #e0807e;
}




