@font-face {
  font-family: --customFont;
  src: url('../assets/fonts/SpaceMono-Regular.ttf') format('ttf');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: --Aurebesh;
  src: url('../assets/fonts/AurebeshBold.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}